@import url("https://fonts.googleapis.com/css?family=Poiret+One|Source+Sans+Pro");
@import "variables";
@import "404";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  font-size: 110%;
  color: $color-text;
  font-family: "Source Sans Pro", sans-serif;
}

.under-construction {
  background: radial-gradient(
    ellipse at bottom,
    $bg-orange 0%,
    $black-dark 100%
  );
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  .main {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
      font-family: "Poiret One", cursive;
      font-size: 4rem;
      margin-bottom: 0.5rem;
      width: 100%;
      text-align: center;
      //
      @media #{$xxs-layout} {
        font-size: 3rem;
      }
    }

    &-sub-title {
      border-top: 0.1rem solid $white;
      padding: 1rem 4rem;
      text-align: center;
      @media #{$xxs-layout} {
        font-size: 1.4rem;
      }
    }
  }

  .stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1983px 1070px $white, 1625px 734px $white, 1505px 1218px $white,
      1288px 1382px $white, 1023px 982px $white, 184px 1501px $white,
      1352px 1072px $white, 966px 577px $white, 1928px 1505px $white,
      284px 1863px $white, 871px 390px $white, 1591px 1017px $white,
      1919px 1315px $white, 1552px 697px $white, 1775px 1722px $white,
      61px 321px $white, 1108px 1281px $white, 1795px 22px $white,
      1808px 716px $white, 797px 374px $white, 796px 1149px $white,
      952px 1px $white, 1361px 1185px $white, 1110px 1577px $white,
      1058px 1925px $white, 160px 1987px $white, 1274px 1205px $white,
      39px 85px $white, 1835px 484px $white, 495px 1670px $white,
      986px 691px $white, 2px 1486px $white, 719px 805px $white,
      1601px 89px $white, 591px 565px $white, 1317px 1604px $white,
      1805px 1486px $white, 703px 236px $white, 1950px 1089px $white,
      1527px 1923px $white, 1690px 36px $white, 1252px 245px $white,
      343px 903px $white, 143px 874px $white, 939px 1705px $white,
      1733px 372px $white, 362px 830px $white, 1580px 1181px $white,
      251px 535px $white, 1666px 1111px $white, 1276px 1530px $white,
      958px 1989px $white, 75px 987px $white, 256px 217px $white,
      635px 1194px $white, 1004px 1546px $white, 1910px 878px $white,
      520px 506px $white, 1000px 210px $white, 1455px 1027px $white,
      417px 1714px $white, 1376px 674px $white, 1744px 1390px $white,
      195px 283px $white, 621px 1638px $white, 962px 997px $white,
      283px 1219px $white, 1591px 1953px $white, 160px 652px $white,
      1430px 948px $white, 1589px 1722px $white, 614px 1305px $white,
      167px 342px $white, 1172px 1861px $white, 1097px 1249px $white,
      1094px 1743px $white, 1988px 1361px $white, 461px 694px $white,
      1096px 584px $white, 1876px 1984px $white, 315px 245px $white,
      441px 258px $white, 1219px 1887px $white, 480px 245px $white,
      285px 819px $white, 1753px 1833px $white, 816px 1780px $white,
      245px 1927px $white, 715px 1523px $white, 475px 1595px $white,
      1162px 66px $white, 543px 1758px $white, 112px 1847px $white,
      1604px 1243px $white, 1888px 1758px $white, 162px 1385px $white,
      1587px 1863px $white, 1059px 48px $white, 1161px 1650px $white,
      1881px 289px $white, 475px 363px $white, 160px 911px $white,
      487px 291px $white, 496px 70px $white, 1107px 90px $white,
      731px 1771px $white, 1517px 918px $white, 1013px 716px $white,
      1832px 882px $white, 107px 393px $white, 1503px 1860px $white,
      31px 94px $white, 1640px 1112px $white, 697px 1657px $white,
      435px 81px $white, 1526px 1467px $white, 602px 1001px $white,
      1409px 306px $white, 1631px 1005px $white, 302px 1886px $white,
      1262px 522px $white, 1606px 776px $white, 1813px 1471px $white,
      1784px 1953px $white, 499px 1841px $white, 805px 1191px $white,
      786px 864px $white, 940px 1562px $white, 1016px 1362px $white,
      1036px 961px $white, 1666px 173px $white, 1214px 979px $white,
      54px 1293px $white, 231px 710px $white, 434px 1321px $white,
      259px 1716px $white, 1463px 380px $white, 1406px 1130px $white,
      913px 611px $white, 1489px 1218px $white, 1777px 61px $white,
      967px 63px $white, 1598px 1504px $white, 1528px 1134px $white,
      1641px 111px $white, 1980px 1181px $white, 945px 1698px $white,
      430px 1617px $white, 482px 85px $white, 554px 1473px $white,
      1112px 614px $white, 1030px 1349px $white, 1666px 1753px $white,
      1049px 978px $white, 1817px 1144px $white, 759px 1687px $white,
      1371px 1720px $white, 1393px 461px $white, 26px 983px $white,
      85px 1821px $white, 1193px 321px $white, 240px 64px $white,
      220px 973px $white, 607px 312px $white, 1102px 679px $white,
      1314px 329px $white, 1802px 1079px $white, 1997px 85px $white,
      782px 479px $white, 1647px 52px $white, 1945px 514px $white,
      938px 351px $white, 1140px 1813px $white, 1348px 1582px $white,
      1188px 1188px $white, 1494px 1341px $white, 1552px 834px $white,
      1592px 1952px $white, 450px 98px $white, 581px 1213px $white,
      1736px 1193px $white, 944px 1950px $white, 526px 1044px $white,
      1869px 788px $white, 911px 1295px $white, 1521px 1135px $white,
      1725px 1438px $white, 1691px 110px $white, 1903px 1777px $white,
      643px 1826px $white, 222px 1810px $white, 1613px 1035px $white,
      201px 24px $white, 1325px 557px $white, 1169px 1652px $white,
      385px 290px $white, 1733px 168px $white, 1886px 438px $white,
      1533px 315px $white, 388px 960px $white, 312px 1818px $white,
      1605px 6px $white, 231px 1794px $white, 686px 1810px $white,
      1301px 577px $white, 1583px 474px $white, 1916px 756px $white,
      694px 1494px $white, 1877px 1341px $white, 25px 6px $white,
      1717px 316px $white, 1906px 1307px $white, 1555px 316px $white,
      699px 690px $white, 1335px 368px $white, 1871px 668px $white,
      301px 492px $white, 1899px 747px $white, 680px 444px $white,
      654px 1063px $white, 45px 1797px $white, 826px 281px $white,
      1041px 1859px $white, 1690px 7px $white, 797px 1473px $white,
      1697px 1680px $white, 1704px 572px $white, 144px 49px $white,
      1099px 264px $white, 789px 1804px $white, 186px 741px $white,
      306px 1496px $white, 473px 209px $white, 1763px 127px $white,
      116px 288px $white, 450px 385px $white, 210px 457px $white,
      1433px 1540px $white, 1766px 1459px $white, 1426px 215px $white,
      1313px 296px $white, 410px 81px $white, 1809px 593px $white,
      515px 216px $white, 1903px 1912px $white, 564px 1545px $white,
      99px 302px $white, 164px 1465px $white, 1560px 801px $white,
      1839px 663px $white, 191px 1903px $white, 5px 537px $white,
      1150px 38px $white, 1310px 647px $white, 1257px 555px $white,
      487px 1470px $white, 1769px 1121px $white, 1698px 1155px $white,
      1176px 1916px $white, 1192px 583px $white, 1778px 1511px $white,
      1330px 354px $white, 705px 737px $white, 449px 665px $white,
      89px 1486px $white, 751px 1974px $white, 1733px 1742px $white,
      1289px 1386px $white, 1621px 1363px $white, 571px 1861px $white,
      1697px 1850px $white, 504px 624px $white, 889px 238px $white,
      1627px 1435px $white, 1379px 1367px $white, 872px 550px $white,
      472px 532px $white, 466px 1997px $white, 932px 1896px $white,
      1044px 83px $white, 1262px 1593px $white, 1953px 1478px $white,
      1127px 1716px $white, 325px 176px $white, 1742px 1505px $white,
      1088px 288px $white, 1212px 472px $white, 1365px 985px $white,
      1086px 803px $white, 256px 263px $white, 1300px 1444px $white,
      1673px 201px $white, 188px 1133px $white, 404px 483px $white,
      59px 1006px $white, 1013px 1651px $white, 947px 239px $white,
      18px 178px $white, 1430px 1851px $white, 763px 1777px $white,
      1737px 196px $white, 643px 977px $white, 1335px 1275px $white,
      1513px 1200px $white, 497px 659px $white, 1929px 800px $white,
      1481px 283px $white, 1232px 331px $white, 1518px 1754px $white,
      515px 869px $white, 1127px 1290px $white, 726px 1453px $white,
      864px 267px $white, 313px 1634px $white, 1562px 606px $white,
      91px 1803px $white, 40px 1789px $white, 1097px 944px $white,
      1949px 1949px $white, 17px 1495px $white, 1786px 93px $white,
      577px 1866px $white, 1252px 546px $white, 564px 151px $white,
      1096px 1675px $white, 1743px 1694px $white, 1332px 311px $white,
      1935px 1625px $white, 1251px 900px $white, 840px 1126px $white,
      763px 669px $white, 1414px 1146px $white, 32px 1287px $white,
      950px 739px $white, 1730px 856px $white, 1032px 1754px $white,
      155px 201px $white, 1999px 1250px $white, 1811px 1488px $white,
      805px 281px $white, 875px 1358px $white, 1757px 86px $white,
      1824px 605px $white, 429px 453px $white, 1955px 1159px $white,
      19px 1874px $white, 1549px 109px $white, 1684px 145px $white,
      1973px 685px $white, 338px 839px $white, 659px 46px $white,
      1600px 344px $white, 838px 994px $white, 337px 1918px $white,
      583px 740px $white, 687px 251px $white, 1900px 1031px $white,
      1296px 449px $white, 1268px 592px $white, 383px 1226px $white,
      868px 101px $white, 891px 67px $white, 1957px 940px $white,
      74px 1445px $white, 1432px 898px $white, 430px 1783px $white,
      954px 185px $white, 359px 1455px $white, 635px 1786px $white,
      1186px 1259px $white, 1445px 1505px $white, 1177px 781px $white,
      1407px 603px $white, 1257px 980px $white, 96px 562px $white,
      1999px 1560px $white, 1153px 1554px $white, 1033px 672px $white,
      1051px 546px $white, 753px 876px $white, 1763px 145px $white,
      1704px 1207px $white, 34px 1261px $white, 817px 1041px $white,
      247px 1674px $white, 121px 429px $white, 515px 570px $white,
      1762px 1489px $white, 234px 940px $white, 1095px 1028px $white,
      720px 1119px $white, 1238px 334px $white, 91px 113px $white,
      147px 897px $white, 1029px 1805px $white, 1680px 1957px $white,
      475px 1503px $white, 1557px 917px $white, 1458px 1762px $white,
      612px 1707px $white, 1329px 393px $white, 160px 1167px $white,
      1631px 1887px $white, 1125px 141px $white, 257px 376px $white,
      809px 26px $white, 1349px 199px $white, 1805px 88px $white,
      69px 1953px $white, 1206px 529px $white, 646px 227px $white,
      1097px 1664px $white, 42px 1261px $white, 1604px 360px $white,
      1939px 187px $white, 1220px 1264px $white, 1044px 995px $white,
      1005px 16px $white, 1648px 1612px $white, 847px 1014px $white,
      339px 1584px $white, 1329px 1304px $white, 961px 1970px $white,
      711px 221px $white, 888px 566px $white, 53px 704px $white,
      1369px 846px $white, 1261px 1775px $white, 737px 1277px $white,
      1071px 1570px $white, 77px 1872px $white, 1268px 1501px $white,
      598px 1640px $white, 1769px 297px $white, 1074px 656px $white,
      1006px 1154px $white, 672px 1969px $white, 922px 243px $white,
      622px 773px $white, 1875px 804px $white, 1873px 600px $white,
      1844px 1794px $white, 1253px 1995px $white, 616px 1198px $white,
      1829px 1743px $white, 1321px 504px $white, 1340px 566px $white,
      1520px 1825px $white, 1696px 1333px $white, 537px 158px $white,
      1106px 162px $white, 25px 514px $white, 1022px 422px $white,
      1955px 391px $white, 1126px 1741px $white, 754px 905px $white,
      1217px 1696px $white, 351px 270px $white, 950px 1260px $white,
      1847px 658px $white, 23px 684px $white, 1295px 572px $white,
      257px 1053px $white, 87px 303px $white, 798px 1748px $white,
      1150px 142px $white, 48px 1641px $white, 1492px 1328px $white,
      1385px 1766px $white, 296px 1726px $white, 1299px 1780px $white,
      1316px 522px $white, 1953px 1526px $white, 1007px 1089px $white,
      1824px 1598px $white, 1720px 480px $white, 555px 1942px $white,
      367px 432px $white, 957px 1162px $white, 384px 1044px $white,
      738px 618px $white, 1568px 1432px $white, 211px 788px $white,
      198px 1761px $white, 745px 177px $white, 1700px 159px $white,
      316px 498px $white, 65px 1610px $white, 1948px 1638px $white,
      936px 1461px $white, 1656px 622px $white, 575px 1437px $white,
      336px 1424px $white, 1215px 690px $white, 1641px 1542px $white,
      998px 1685px $white, 952px 1274px $white, 1448px 1165px $white,
      904px 1783px $white, 1788px 1404px $white, 1748px 1717px $white,
      793px 922px $white, 1032px 355px $white, 1158px 38px $white,
      1573px 1855px $white, 751px 1199px $white, 1284px 227px $white,
      391px 416px $white, 55px 204px $white, 962px 1918px $white,
      668px 1347px $white, 613px 1215px $white, 615px 732px $white,
      1442px 1752px $white, 1086px 1779px $white, 532px 320px $white,
      1228px 1321px $white, 1796px 1906px $white, 150px 715px $white,
      1694px 1005px $white, 1509px 391px $white, 262px 303px $white,
      1743px 909px $white, 1966px 1203px $white, 707px 1033px $white,
      82px 1332px $white, 104px 794px $white, 246px 759px $white,
      507px 1380px $white, 1227px 616px $white, 917px 1354px $white,
      1941px 759px $white, 451px 852px $white, 17px 131px $white,
      780px 476px $white, 816px 211px $white, 1039px 1245px $white,
      1521px 1036px $white, 1509px 1542px $white, 1368px 960px $white,
      1104px 1437px $white, 1171px 976px $white, 681px 1305px $white,
      1741px 579px $white, 953px 704px $white, 1810px 328px $white,
      1960px 1396px $white, 1098px 295px $white, 1409px 919px $white,
      1830px 1176px $white, 492px 1063px $white, 1277px 515px $white,
      602px 1546px $white, 1832px 236px $white, 1513px 274px $white,
      1983px 794px $white, 2000px 1505px $white, 920px 382px $white,
      1374px 1235px $white, 692px 310px $white, 1028px 1782px $white,
      1007px 887px $white, 1492px 858px $white, 877px 1817px $white,
      1024px 1942px $white, 658px 82px $white, 526px 742px $white,
      755px 880px $white, 301px 1186px $white, 318px 31px $white,
      1517px 1244px $white, 1996px 1126px $white, 464px 1861px $white,
      334px 674px $white, 768px 1103px $white, 628px 890px $white,
      1054px 1534px $white, 59px 1576px $white, 189px 693px $white,
      16px 1097px $white, 563px 1186px $white, 428px 523px $white,
      1047px 1231px $white, 1940px 1262px $white, 643px 971px $white,
      611px 1794px $white, 1676px 21px $white, 1882px 1523px $white,
      258px 1584px $white, 768px 295px $white, 1253px 1431px $white,
      1855px 362px $white, 576px 987px $white, 1904px 470px $white,
      895px 1390px $white, 771px 966px $white, 1034px 1815px $white,
      203px 1292px $white, 566px 893px $white, 63px 913px $white,
      1340px 1416px $white, 528px 967px $white, 1965px 444px $white,
      1961px 132px $white, 1049px 577px $white, 459px 1031px $white,
      261px 1780px $white, 1092px 1480px $white, 286px 759px $white,
      1014px 1604px $white, 144px 1461px $white, 1180px 1694px $white,
      1348px 613px $white, 518px 1479px $white, 478px 649px $white,
      1303px 629px $white, 1713px 258px $white, 1912px 501px $white,
      300px 227px $white, 989px 1068px $white, 197px 158px $white,
      244px 420px $white, 889px 486px $white, 1517px 1812px $white,
      965px 308px $white, 409px 1293px $white, 47px 1400px $white,
      1473px 1150px $white, 311px 1711px $white, 1938px 1000px $white,
      717px 1331px $white, 282px 881px $white, 1305px 382px $white,
      1639px 52px $white, 1466px 1228px $white, 574px 26px $white,
      1310px 899px $white, 15px 1795px $white, 1138px 941px $white,
      1235px 1416px $white, 27px 375px $white, 1333px 1470px $white,
      1462px 1837px $white, 1830px 1217px $white, 1521px 1848px $white,
      730px 515px $white, 514px 1869px $white, 468px 1906px $white,
      1931px 259px $white, 1612px 151px $white, 1495px 735px $white,
      710px 1096px $white, 1976px 546px $white, 50px 741px $white,
      1313px 381px $white, 54px 102px $white, 1873px 1009px $white,
      1696px 688px $white, 626px 922px $white, 244px 1438px $white,
      1746px 1787px $white, 1824px 1437px $white, 1730px 1219px $white,
      785px 198px $white, 1174px 931px $white, 909px 517px $white,
      1283px 662px $white, 1074px 194px $white, 847px 1945px $white,
      113px 427px $white, 728px 352px $white, 1205px 1316px $white,
      786px 668px $white, 64px 427px $white, 548px 1370px $white,
      1102px 616px $white, 676px 1192px $white, 1652px 1264px $white,
      649px 69px $white, 1593px 645px $white, 1651px 816px $white,
      1914px 977px $white, 80px 1006px $white, 1252px 742px $white,
      1291px 981px $white, 1325px 273px $white, 831px 1581px $white,
      344px 1503px $white, 1885px 1849px $white, 745px 1030px $white,
      764px 1396px $white, 1241px 829px $white, 1281px 160px $white,
      1210px 1860px $white, 1998px 411px $white, 1752px 1816px $white,
      21px 1656px $white, 1863px 1988px $white, 1860px 331px $white,
      79px 512px $white;
    animation: animStar 50s linear infinite;

    &::after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 1983px 1070px $white, 1625px 734px $white,
        1505px 1218px $white, 1288px 1382px $white, 1023px 982px $white,
        184px 1501px $white, 1352px 1072px $white, 966px 577px $white,
        1928px 1505px $white, 284px 1863px $white, 871px 390px $white,
        1591px 1017px $white, 1919px 1315px $white, 1552px 697px $white,
        1775px 1722px $white, 61px 321px $white, 1108px 1281px $white,
        1795px 22px $white, 1808px 716px $white, 797px 374px $white,
        796px 1149px $white, 952px 1px $white, 1361px 1185px $white,
        1110px 1577px $white, 1058px 1925px $white, 160px 1987px $white,
        1274px 1205px $white, 39px 85px $white, 1835px 484px $white,
        495px 1670px $white, 986px 691px $white, 2px 1486px $white,
        719px 805px $white, 1601px 89px $white, 591px 565px $white,
        1317px 1604px $white, 1805px 1486px $white, 703px 236px $white,
        1950px 1089px $white, 1527px 1923px $white, 1690px 36px $white,
        1252px 245px $white, 343px 903px $white, 143px 874px $white,
        939px 1705px $white, 1733px 372px $white, 362px 830px $white,
        1580px 1181px $white, 251px 535px $white, 1666px 1111px $white,
        1276px 1530px $white, 958px 1989px $white, 75px 987px $white,
        256px 217px $white, 635px 1194px $white, 1004px 1546px $white,
        1910px 878px $white, 520px 506px $white, 1000px 210px $white,
        1455px 1027px $white, 417px 1714px $white, 1376px 674px $white,
        1744px 1390px $white, 195px 283px $white, 621px 1638px $white,
        962px 997px $white, 283px 1219px $white, 1591px 1953px $white,
        160px 652px $white, 1430px 948px $white, 1589px 1722px $white,
        614px 1305px $white, 167px 342px $white, 1172px 1861px $white,
        1097px 1249px $white, 1094px 1743px $white, 1988px 1361px $white,
        461px 694px $white, 1096px 584px $white, 1876px 1984px $white,
        315px 245px $white, 441px 258px $white, 1219px 1887px $white,
        480px 245px $white, 285px 819px $white, 1753px 1833px $white,
        816px 1780px $white, 245px 1927px $white, 715px 1523px $white,
        475px 1595px $white, 1162px 66px $white, 543px 1758px $white,
        112px 1847px $white, 1604px 1243px $white, 1888px 1758px $white,
        162px 1385px $white, 1587px 1863px $white, 1059px 48px $white,
        1161px 1650px $white, 1881px 289px $white, 475px 363px $white,
        160px 911px $white, 487px 291px $white, 496px 70px $white,
        1107px 90px $white, 731px 1771px $white, 1517px 918px $white,
        1013px 716px $white, 1832px 882px $white, 107px 393px $white,
        1503px 1860px $white, 31px 94px $white, 1640px 1112px $white,
        697px 1657px $white, 435px 81px $white, 1526px 1467px $white,
        602px 1001px $white, 1409px 306px $white, 1631px 1005px $white,
        302px 1886px $white, 1262px 522px $white, 1606px 776px $white,
        1813px 1471px $white, 1784px 1953px $white, 499px 1841px $white,
        805px 1191px $white, 786px 864px $white, 940px 1562px $white,
        1016px 1362px $white, 1036px 961px $white, 1666px 173px $white,
        1214px 979px $white, 54px 1293px $white, 231px 710px $white,
        434px 1321px $white, 259px 1716px $white, 1463px 380px $white,
        1406px 1130px $white, 913px 611px $white, 1489px 1218px $white,
        1777px 61px $white, 967px 63px $white, 1598px 1504px $white,
        1528px 1134px $white, 1641px 111px $white, 1980px 1181px $white,
        945px 1698px $white, 430px 1617px $white, 482px 85px $white,
        554px 1473px $white, 1112px 614px $white, 1030px 1349px $white,
        1666px 1753px $white, 1049px 978px $white, 1817px 1144px $white,
        759px 1687px $white, 1371px 1720px $white, 1393px 461px $white,
        26px 983px $white, 85px 1821px $white, 1193px 321px $white,
        240px 64px $white, 220px 973px $white, 607px 312px $white,
        1102px 679px $white, 1314px 329px $white, 1802px 1079px $white,
        1997px 85px $white, 782px 479px $white, 1647px 52px $white,
        1945px 514px $white, 938px 351px $white, 1140px 1813px $white,
        1348px 1582px $white, 1188px 1188px $white, 1494px 1341px $white,
        1552px 834px $white, 1592px 1952px $white, 450px 98px $white,
        581px 1213px $white, 1736px 1193px $white, 944px 1950px $white,
        526px 1044px $white, 1869px 788px $white, 911px 1295px $white,
        1521px 1135px $white, 1725px 1438px $white, 1691px 110px $white,
        1903px 1777px $white, 643px 1826px $white, 222px 1810px $white,
        1613px 1035px $white, 201px 24px $white, 1325px 557px $white,
        1169px 1652px $white, 385px 290px $white, 1733px 168px $white,
        1886px 438px $white, 1533px 315px $white, 388px 960px $white,
        312px 1818px $white, 1605px 6px $white, 231px 1794px $white,
        686px 1810px $white, 1301px 577px $white, 1583px 474px $white,
        1916px 756px $white, 694px 1494px $white, 1877px 1341px $white,
        25px 6px $white, 1717px 316px $white, 1906px 1307px $white,
        1555px 316px $white, 699px 690px $white, 1335px 368px $white,
        1871px 668px $white, 301px 492px $white, 1899px 747px $white,
        680px 444px $white, 654px 1063px $white, 45px 1797px $white,
        826px 281px $white, 1041px 1859px $white, 1690px 7px $white,
        797px 1473px $white, 1697px 1680px $white, 1704px 572px $white,
        144px 49px $white, 1099px 264px $white, 789px 1804px $white,
        186px 741px $white, 306px 1496px $white, 473px 209px $white,
        1763px 127px $white, 116px 288px $white, 450px 385px $white,
        210px 457px $white, 1433px 1540px $white, 1766px 1459px $white,
        1426px 215px $white, 1313px 296px $white, 410px 81px $white,
        1809px 593px $white, 515px 216px $white, 1903px 1912px $white,
        564px 1545px $white, 99px 302px $white, 164px 1465px $white,
        1560px 801px $white, 1839px 663px $white, 191px 1903px $white,
        5px 537px $white, 1150px 38px $white, 1310px 647px $white,
        1257px 555px $white, 487px 1470px $white, 1769px 1121px $white,
        1698px 1155px $white, 1176px 1916px $white, 1192px 583px $white,
        1778px 1511px $white, 1330px 354px $white, 705px 737px $white,
        449px 665px $white, 89px 1486px $white, 751px 1974px $white,
        1733px 1742px $white, 1289px 1386px $white, 1621px 1363px $white,
        571px 1861px $white, 1697px 1850px $white, 504px 624px $white,
        889px 238px $white, 1627px 1435px $white, 1379px 1367px $white,
        872px 550px $white, 472px 532px $white, 466px 1997px $white,
        932px 1896px $white, 1044px 83px $white, 1262px 1593px $white,
        1953px 1478px $white, 1127px 1716px $white, 325px 176px $white,
        1742px 1505px $white, 1088px 288px $white, 1212px 472px $white,
        1365px 985px $white, 1086px 803px $white, 256px 263px $white,
        1300px 1444px $white, 1673px 201px $white, 188px 1133px $white,
        404px 483px $white, 59px 1006px $white, 1013px 1651px $white,
        947px 239px $white, 18px 178px $white, 1430px 1851px $white,
        763px 1777px $white, 1737px 196px $white, 643px 977px $white,
        1335px 1275px $white, 1513px 1200px $white, 497px 659px $white,
        1929px 800px $white, 1481px 283px $white, 1232px 331px $white,
        1518px 1754px $white, 515px 869px $white, 1127px 1290px $white,
        726px 1453px $white, 864px 267px $white, 313px 1634px $white,
        1562px 606px $white, 91px 1803px $white, 40px 1789px $white,
        1097px 944px $white, 1949px 1949px $white, 17px 1495px $white,
        1786px 93px $white, 577px 1866px $white, 1252px 546px $white,
        564px 151px $white, 1096px 1675px $white, 1743px 1694px $white,
        1332px 311px $white, 1935px 1625px $white, 1251px 900px $white,
        840px 1126px $white, 763px 669px $white, 1414px 1146px $white,
        32px 1287px $white, 950px 739px $white, 1730px 856px $white,
        1032px 1754px $white, 155px 201px $white, 1999px 1250px $white,
        1811px 1488px $white, 805px 281px $white, 875px 1358px $white,
        1757px 86px $white, 1824px 605px $white, 429px 453px $white,
        1955px 1159px $white, 19px 1874px $white, 1549px 109px $white,
        1684px 145px $white, 1973px 685px $white, 338px 839px $white,
        659px 46px $white, 1600px 344px $white, 838px 994px $white,
        337px 1918px $white, 583px 740px $white, 687px 251px $white,
        1900px 1031px $white, 1296px 449px $white, 1268px 592px $white,
        383px 1226px $white, 868px 101px $white, 891px 67px $white,
        1957px 940px $white, 74px 1445px $white, 1432px 898px $white,
        430px 1783px $white, 954px 185px $white, 359px 1455px $white,
        635px 1786px $white, 1186px 1259px $white, 1445px 1505px $white,
        1177px 781px $white, 1407px 603px $white, 1257px 980px $white,
        96px 562px $white, 1999px 1560px $white, 1153px 1554px $white,
        1033px 672px $white, 1051px 546px $white, 753px 876px $white,
        1763px 145px $white, 1704px 1207px $white, 34px 1261px $white,
        817px 1041px $white, 247px 1674px $white, 121px 429px $white,
        515px 570px $white, 1762px 1489px $white, 234px 940px $white,
        1095px 1028px $white, 720px 1119px $white, 1238px 334px $white,
        91px 113px $white, 147px 897px $white, 1029px 1805px $white,
        1680px 1957px $white, 475px 1503px $white, 1557px 917px $white,
        1458px 1762px $white, 612px 1707px $white, 1329px 393px $white,
        160px 1167px $white, 1631px 1887px $white, 1125px 141px $white,
        257px 376px $white, 809px 26px $white, 1349px 199px $white,
        1805px 88px $white, 69px 1953px $white, 1206px 529px $white,
        646px 227px $white, 1097px 1664px $white, 42px 1261px $white,
        1604px 360px $white, 1939px 187px $white, 1220px 1264px $white,
        1044px 995px $white, 1005px 16px $white, 1648px 1612px $white,
        847px 1014px $white, 339px 1584px $white, 1329px 1304px $white,
        961px 1970px $white, 711px 221px $white, 888px 566px $white,
        53px 704px $white, 1369px 846px $white, 1261px 1775px $white,
        737px 1277px $white, 1071px 1570px $white, 77px 1872px $white,
        1268px 1501px $white, 598px 1640px $white, 1769px 297px $white,
        1074px 656px $white, 1006px 1154px $white, 672px 1969px $white,
        922px 243px $white, 622px 773px $white, 1875px 804px $white,
        1873px 600px $white, 1844px 1794px $white, 1253px 1995px $white,
        616px 1198px $white, 1829px 1743px $white, 1321px 504px $white,
        1340px 566px $white, 1520px 1825px $white, 1696px 1333px $white,
        537px 158px $white, 1106px 162px $white, 25px 514px $white,
        1022px 422px $white, 1955px 391px $white, 1126px 1741px $white,
        754px 905px $white, 1217px 1696px $white, 351px 270px $white,
        950px 1260px $white, 1847px 658px $white, 23px 684px $white,
        1295px 572px $white, 257px 1053px $white, 87px 303px $white,
        798px 1748px $white, 1150px 142px $white, 48px 1641px $white,
        1492px 1328px $white, 1385px 1766px $white, 296px 1726px $white,
        1299px 1780px $white, 1316px 522px $white, 1953px 1526px $white,
        1007px 1089px $white, 1824px 1598px $white, 1720px 480px $white,
        555px 1942px $white, 367px 432px $white, 957px 1162px $white,
        384px 1044px $white, 738px 618px $white, 1568px 1432px $white,
        211px 788px $white, 198px 1761px $white, 745px 177px $white,
        1700px 159px $white, 316px 498px $white, 65px 1610px $white,
        1948px 1638px $white, 936px 1461px $white, 1656px 622px $white,
        575px 1437px $white, 336px 1424px $white, 1215px 690px $white,
        1641px 1542px $white, 998px 1685px $white, 952px 1274px $white,
        1448px 1165px $white, 904px 1783px $white, 1788px 1404px $white,
        1748px 1717px $white, 793px 922px $white, 1032px 355px $white,
        1158px 38px $white, 1573px 1855px $white, 751px 1199px $white,
        1284px 227px $white, 391px 416px $white, 55px 204px $white,
        962px 1918px $white, 668px 1347px $white, 613px 1215px $white,
        615px 732px $white, 1442px 1752px $white, 1086px 1779px $white,
        532px 320px $white, 1228px 1321px $white, 1796px 1906px $white,
        150px 715px $white, 1694px 1005px $white, 1509px 391px $white,
        262px 303px $white, 1743px 909px $white, 1966px 1203px $white,
        707px 1033px $white, 82px 1332px $white, 104px 794px $white,
        246px 759px $white, 507px 1380px $white, 1227px 616px $white,
        917px 1354px $white, 1941px 759px $white, 451px 852px $white,
        17px 131px $white, 780px 476px $white, 816px 211px $white,
        1039px 1245px $white, 1521px 1036px $white, 1509px 1542px $white,
        1368px 960px $white, 1104px 1437px $white, 1171px 976px $white,
        681px 1305px $white, 1741px 579px $white, 953px 704px $white,
        1810px 328px $white, 1960px 1396px $white, 1098px 295px $white,
        1409px 919px $white, 1830px 1176px $white, 492px 1063px $white,
        1277px 515px $white, 602px 1546px $white, 1832px 236px $white,
        1513px 274px $white, 1983px 794px $white, 2000px 1505px $white,
        920px 382px $white, 1374px 1235px $white, 692px 310px $white,
        1028px 1782px $white, 1007px 887px $white, 1492px 858px $white,
        877px 1817px $white, 1024px 1942px $white, 658px 82px $white,
        526px 742px $white, 755px 880px $white, 301px 1186px $white,
        318px 31px $white, 1517px 1244px $white, 1996px 1126px $white,
        464px 1861px $white, 334px 674px $white, 768px 1103px $white,
        628px 890px $white, 1054px 1534px $white, 59px 1576px $white,
        189px 693px $white, 16px 1097px $white, 563px 1186px $white,
        428px 523px $white, 1047px 1231px $white, 1940px 1262px $white,
        643px 971px $white, 611px 1794px $white, 1676px 21px $white,
        1882px 1523px $white, 258px 1584px $white, 768px 295px $white,
        1253px 1431px $white, 1855px 362px $white, 576px 987px $white,
        1904px 470px $white, 895px 1390px $white, 771px 966px $white,
        1034px 1815px $white, 203px 1292px $white, 566px 893px $white,
        63px 913px $white, 1340px 1416px $white, 528px 967px $white,
        1965px 444px $white, 1961px 132px $white, 1049px 577px $white,
        459px 1031px $white, 261px 1780px $white, 1092px 1480px $white,
        286px 759px $white, 1014px 1604px $white, 144px 1461px $white,
        1180px 1694px $white, 1348px 613px $white, 518px 1479px $white,
        478px 649px $white, 1303px 629px $white, 1713px 258px $white,
        1912px 501px $white, 300px 227px $white, 989px 1068px $white,
        197px 158px $white, 244px 420px $white, 889px 486px $white,
        1517px 1812px $white, 965px 308px $white, 409px 1293px $white,
        47px 1400px $white, 1473px 1150px $white, 311px 1711px $white,
        1938px 1000px $white, 717px 1331px $white, 282px 881px $white,
        1305px 382px $white, 1639px 52px $white, 1466px 1228px $white,
        574px 26px $white, 1310px 899px $white, 15px 1795px $white,
        1138px 941px $white, 1235px 1416px $white, 27px 375px $white,
        1333px 1470px $white, 1462px 1837px $white, 1830px 1217px $white,
        1521px 1848px $white, 730px 515px $white, 514px 1869px $white,
        468px 1906px $white, 1931px 259px $white, 1612px 151px $white,
        1495px 735px $white, 710px 1096px $white, 1976px 546px $white,
        50px 741px $white, 1313px 381px $white, 54px 102px $white,
        1873px 1009px $white, 1696px 688px $white, 626px 922px $white,
        244px 1438px $white, 1746px 1787px $white, 1824px 1437px $white,
        1730px 1219px $white, 785px 198px $white, 1174px 931px $white,
        909px 517px $white, 1283px 662px $white, 1074px 194px $white,
        847px 1945px $white, 113px 427px $white, 728px 352px $white,
        1205px 1316px $white, 786px 668px $white, 64px 427px $white,
        548px 1370px $white, 1102px 616px $white, 676px 1192px $white,
        1652px 1264px $white, 649px 69px $white, 1593px 645px $white,
        1651px 816px $white, 1914px 977px $white, 80px 1006px $white,
        1252px 742px $white, 1291px 981px $white, 1325px 273px $white,
        831px 1581px $white, 344px 1503px $white, 1885px 1849px $white,
        745px 1030px $white, 764px 1396px $white, 1241px 829px $white,
        1281px 160px $white, 1210px 1860px $white, 1998px 411px $white,
        1752px 1816px $white, 21px 1656px $white, 1863px 1988px $white,
        1860px 331px $white, 79px 512px $white;
    }
  }

  .stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1124px 1500px $white, 916px 1039px $white, 1281px 2000px $white,
      1702px 518px $white, 246px 953px $white, 1889px 287px $white,
      1438px 1139px $white, 1824px 1739px $white, 1090px 1205px $white,
      1514px 392px $white, 87px 1797px $white, 342px 25px $white,
      134px 1624px $white, 1246px 426px $white, 453px 559px $white,
      609px 308px $white, 506px 972px $white, 684px 733px $white,
      85px 1641px $white, 1576px 320px $white, 145px 809px $white,
      1822px 1000px $white, 21px 1512px $white, 173px 1775px $white,
      1283px 1564px $white, 224px 1353px $white, 451px 785px $white,
      703px 1983px $white, 508px 1345px $white, 957px 1209px $white,
      698px 162px $white, 159px 1835px $white, 712px 227px $white,
      1234px 295px $white, 310px 958px $white, 889px 31px $white,
      1321px 1156px $white, 501px 274px $white, 914px 96px $white,
      1637px 1954px $white, 774px 1326px $white, 304px 550px $white,
      1249px 425px $white, 649px 1851px $white, 723px 1114px $white,
      1115px 1524px $white, 1937px 1932px $white, 44px 1353px $white,
      850px 1872px $white, 1175px 1628px $white, 318px 248px $white,
      291px 521px $white, 1246px 1707px $white, 1640px 1608px $white,
      1961px 343px $white, 964px 1144px $white, 1729px 361px $white,
      1493px 799px $white, 1503px 1030px $white, 426px 1162px $white,
      991px 1700px $white, 697px 630px $white, 897px 1692px $white,
      457px 1816px $white, 667px 729px $white, 1753px 1618px $white,
      1132px 1095px $white, 954px 1846px $white, 1938px 1179px $white,
      135px 434px $white, 1134px 1216px $white, 491px 543px $white,
      525px 1114px $white, 1769px 1830px $white, 1641px 1422px $white,
      873px 548px $white, 1519px 1249px $white, 934px 1084px $white,
      753px 1528px $white, 1139px 478px $white, 1533px 356px $white,
      264px 1956px $white, 899px 487px $white, 1932px 1084px $white,
      1846px 64px $white, 46px 1255px $white, 102px 1775px $white,
      678px 1579px $white, 1406px 368px $white, 1808px 32px $white,
      741px 775px $white, 225px 1338px $white, 124px 731px $white,
      411px 135px $white, 1640px 1276px $white, 54px 1998px $white,
      1126px 1912px $white, 1896px 1754px $white, 819px 827px $white,
      1063px 125px $white, 955px 1357px $white, 945px 1808px $white,
      777px 1591px $white, 508px 1351px $white, 966px 983px $white,
      168px 9px $white, 1700px 533px $white, 785px 1700px $white,
      558px 749px $white, 56px 1463px $white, 1482px 371px $white,
      1201px 1930px $white, 207px 240px $white, 538px 146px $white,
      893px 1156px $white, 662px 973px $white, 1126px 641px $white,
      354px 1792px $white, 1483px 1367px $white, 1032px 1516px $white,
      322px 1338px $white, 1804px 1170px $white, 1899px 561px $white,
      698px 1947px $white, 1377px 1501px $white, 1966px 1196px $white,
      108px 1889px $white, 790px 1309px $white, 1206px 42px $white,
      1903px 373px $white, 465px 113px $white, 1776px 1878px $white,
      1363px 639px $white, 1142px 1969px $white, 1427px 840px $white,
      212px 1412px $white, 1333px 1905px $white, 817px 261px $white,
      1590px 1046px $white, 1139px 89px $white, 1852px 311px $white,
      1618px 1155px $white, 387px 1975px $white, 290px 1660px $white,
      1094px 957px $white, 1145px 1157px $white, 825px 1179px $white,
      1456px 1133px $white, 1214px 922px $white, 290px 1880px $white,
      852px 1027px $white, 275px 557px $white, 1115px 724px $white,
      1713px 1698px $white, 1819px 1196px $white, 1778px 179px $white,
      401px 610px $white, 1288px 1286px $white, 1603px 493px $white,
      497px 306px $white, 457px 1005px $white, 675px 1814px $white,
      850px 1719px $white, 467px 932px $white, 1312px 1366px $white,
      812px 1643px $white, 356px 1170px $white, 1915px 787px $white,
      1923px 1453px $white, 542px 860px $white, 1496px 832px $white,
      1689px 90px $white, 1404px 73px $white, 991px 357px $white,
      1534px 1469px $white, 1036px 822px $white, 595px 819px $white,
      432px 1908px $white, 221px 1519px $white, 1744px 1507px $white,
      505px 564px $white, 1220px 1959px $white, 544px 1880px $white,
      744px 516px $white, 547px 307px $white, 1862px 247px $white,
      1560px 410px $white, 736px 282px $white, 986px 1452px $white,
      808px 1942px $white, 194px 1307px $white, 639px 842px $white,
      717px 272px $white, 580px 103px $white, 566px 1916px $white,
      1847px 91px $white, 1583px 629px $white, 1270px 1517px $white,
      1452px 1905px $white, 1161px 1965px $white;
    animation: animStar 100s linear infinite;

    &::after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 1124px 1500px $white, 916px 1039px $white,
        1281px 2000px $white, 1702px 518px $white, 246px 953px $white,
        1889px 287px $white, 1438px 1139px $white, 1824px 1739px $white,
        1090px 1205px $white, 1514px 392px $white, 87px 1797px $white,
        342px 25px $white, 134px 1624px $white, 1246px 426px $white,
        453px 559px $white, 609px 308px $white, 506px 972px $white,
        684px 733px $white, 85px 1641px $white, 1576px 320px $white,
        145px 809px $white, 1822px 1000px $white, 21px 1512px $white,
        173px 1775px $white, 1283px 1564px $white, 224px 1353px $white,
        451px 785px $white, 703px 1983px $white, 508px 1345px $white,
        957px 1209px $white, 698px 162px $white, 159px 1835px $white,
        712px 227px $white, 1234px 295px $white, 310px 958px $white,
        889px 31px $white, 1321px 1156px $white, 501px 274px $white,
        914px 96px $white, 1637px 1954px $white, 774px 1326px $white,
        304px 550px $white, 1249px 425px $white, 649px 1851px $white,
        723px 1114px $white, 1115px 1524px $white, 1937px 1932px $white,
        44px 1353px $white, 850px 1872px $white, 1175px 1628px $white,
        318px 248px $white, 291px 521px $white, 1246px 1707px $white,
        1640px 1608px $white, 1961px 343px $white, 964px 1144px $white,
        1729px 361px $white, 1493px 799px $white, 1503px 1030px $white,
        426px 1162px $white, 991px 1700px $white, 697px 630px $white,
        897px 1692px $white, 457px 1816px $white, 667px 729px $white,
        1753px 1618px $white, 1132px 1095px $white, 954px 1846px $white,
        1938px 1179px $white, 135px 434px $white, 1134px 1216px $white,
        491px 543px $white, 525px 1114px $white, 1769px 1830px $white,
        1641px 1422px $white, 873px 548px $white, 1519px 1249px $white,
        934px 1084px $white, 753px 1528px $white, 1139px 478px $white,
        1533px 356px $white, 264px 1956px $white, 899px 487px $white,
        1932px 1084px $white, 1846px 64px $white, 46px 1255px $white,
        102px 1775px $white, 678px 1579px $white, 1406px 368px $white,
        1808px 32px $white, 741px 775px $white, 225px 1338px $white,
        124px 731px $white, 411px 135px $white, 1640px 1276px $white,
        54px 1998px $white, 1126px 1912px $white, 1896px 1754px $white,
        819px 827px $white, 1063px 125px $white, 955px 1357px $white,
        945px 1808px $white, 777px 1591px $white, 508px 1351px $white,
        966px 983px $white, 168px 9px $white, 1700px 533px $white,
        785px 1700px $white, 558px 749px $white, 56px 1463px $white,
        1482px 371px $white, 1201px 1930px $white, 207px 240px $white,
        538px 146px $white, 893px 1156px $white, 662px 973px $white,
        1126px 641px $white, 354px 1792px $white, 1483px 1367px $white,
        1032px 1516px $white, 322px 1338px $white, 1804px 1170px $white,
        1899px 561px $white, 698px 1947px $white, 1377px 1501px $white,
        1966px 1196px $white, 108px 1889px $white, 790px 1309px $white,
        1206px 42px $white, 1903px 373px $white, 465px 113px $white,
        1776px 1878px $white, 1363px 639px $white, 1142px 1969px $white,
        1427px 840px $white, 212px 1412px $white, 1333px 1905px $white,
        817px 261px $white, 1590px 1046px $white, 1139px 89px $white,
        1852px 311px $white, 1618px 1155px $white, 387px 1975px $white,
        290px 1660px $white, 1094px 957px $white, 1145px 1157px $white,
        825px 1179px $white, 1456px 1133px $white, 1214px 922px $white,
        290px 1880px $white, 852px 1027px $white, 275px 557px $white,
        1115px 724px $white, 1713px 1698px $white, 1819px 1196px $white,
        1778px 179px $white, 401px 610px $white, 1288px 1286px $white,
        1603px 493px $white, 497px 306px $white, 457px 1005px $white,
        675px 1814px $white, 850px 1719px $white, 467px 932px $white,
        1312px 1366px $white, 812px 1643px $white, 356px 1170px $white,
        1915px 787px $white, 1923px 1453px $white, 542px 860px $white,
        1496px 832px $white, 1689px 90px $white, 1404px 73px $white,
        991px 357px $white, 1534px 1469px $white, 1036px 822px $white,
        595px 819px $white, 432px 1908px $white, 221px 1519px $white,
        1744px 1507px $white, 505px 564px $white, 1220px 1959px $white,
        544px 1880px $white, 744px 516px $white, 547px 307px $white,
        1862px 247px $white, 1560px 410px $white, 736px 282px $white,
        986px 1452px $white, 808px 1942px $white, 194px 1307px $white,
        639px 842px $white, 717px 272px $white, 580px 103px $white,
        566px 1916px $white, 1847px 91px $white, 1583px 629px $white,
        1270px 1517px $white, 1452px 1905px $white, 1161px 1965px $white;
    }
  }

  .stars3 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 1106px 1979px $white, 1572px 505px $white, 25px 1324px $white,
      650px 558px $white, 558px 1555px $white, 782px 1910px $white,
      95px 1646px $white, 1794px 169px $white, 1104px 1373px $white,
      965px 1386px $white, 1818px 948px $white, 1848px 760px $white,
      1789px 937px $white, 761px 1565px $white, 945px 1788px $white,
      1553px 93px $white, 1344px 281px $white, 832px 138px $white,
      819px 412px $white, 386px 1164px $white, 36px 1157px $white,
      1150px 651px $white, 63px 1824px $white, 338px 202px $white,
      1203px 764px $white, 1825px 1211px $white, 204px 1892px $white,
      228px 313px $white, 1511px 783px $white, 497px 522px $white,
      744px 96px $white, 511px 1254px $white, 179px 1572px $white,
      988px 411px $white, 1539px 1119px $white, 687px 1122px $white,
      1615px 475px $white, 512px 399px $white, 816px 1040px $white,
      341px 103px $white, 450px 505px $white, 1161px 742px $white,
      1926px 1476px $white, 764px 1893px $white, 995px 1047px $white,
      572px 593px $white, 143px 499px $white, 963px 861px $white,
      575px 178px $white, 1492px 424px $white, 1890px 1467px $white,
      612px 1453px $white, 573px 346px $white, 1151px 945px $white,
      107px 45px $white, 345px 593px $white, 1659px 456px $white,
      1984px 1612px $white, 1103px 350px $white, 696px 908px $white,
      1227px 1093px $white, 1525px 1198px $white, 294px 648px $white,
      955px 378px $white, 1553px 114px $white, 1355px 1009px $white,
      911px 1568px $white, 1807px 27px $white, 933px 1952px $white,
      493px 1501px $white, 1573px 1849px $white, 962px 471px $white,
      1078px 1745px $white, 711px 381px $white, 1617px 574px $white,
      666px 1277px $white, 1589px 1435px $white, 41px 21px $white,
      1427px 252px $white, 748px 351px $white, 1826px 261px $white,
      730px 1705px $white, 30px 459px $white, 953px 1573px $white,
      725px 1653px $white, 1628px 1144px $white, 1070px 1879px $white,
      362px 603px $white, 605px 714px $white, 749px 1979px $white,
      1569px 1753px $white, 335px 491px $white, 1618px 1237px $white,
      362px 1735px $white, 105px 489px $white, 806px 836px $white,
      1523px 781px $white, 411px 1405px $white, 858px 220px $white,
      273px 89px $white;
    animation: animStar 150s linear infinite;

    &::after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 1106px 1979px $white, 1572px 505px $white, 25px 1324px $white,
        650px 558px $white, 558px 1555px $white, 782px 1910px $white,
        95px 1646px $white, 1794px 169px $white, 1104px 1373px $white,
        965px 1386px $white, 1818px 948px $white, 1848px 760px $white,
        1789px 937px $white, 761px 1565px $white, 945px 1788px $white,
        1553px 93px $white, 1344px 281px $white, 832px 138px $white,
        819px 412px $white, 386px 1164px $white, 36px 1157px $white,
        1150px 651px $white, 63px 1824px $white, 338px 202px $white,
        1203px 764px $white, 1825px 1211px $white, 204px 1892px $white,
        228px 313px $white, 1511px 783px $white, 497px 522px $white,
        744px 96px $white, 511px 1254px $white, 179px 1572px $white,
        988px 411px $white, 1539px 1119px $white, 687px 1122px $white,
        1615px 475px $white, 512px 399px $white, 816px 1040px $white,
        341px 103px $white, 450px 505px $white, 1161px 742px $white,
        1926px 1476px $white, 764px 1893px $white, 995px 1047px $white,
        572px 593px $white, 143px 499px $white, 963px 861px $white,
        575px 178px $white, 1492px 424px $white, 1890px 1467px $white,
        612px 1453px $white, 573px 346px $white, 1151px 945px $white,
        107px 45px $white, 345px 593px $white, 1659px 456px $white,
        1984px 1612px $white, 1103px 350px $white, 696px 908px $white,
        1227px 1093px $white, 1525px 1198px $white, 294px 648px $white,
        955px 378px $white, 1553px 114px $white, 1355px 1009px $white,
        911px 1568px $white, 1807px 27px $white, 933px 1952px $white,
        493px 1501px $white, 1573px 1849px $white, 962px 471px $white,
        1078px 1745px $white, 711px 381px $white, 1617px 574px $white,
        666px 1277px $white, 1589px 1435px $white, 41px 21px $white,
        1427px 252px $white, 748px 351px $white, 1826px 261px $white,
        730px 1705px $white, 30px 459px $white, 953px 1573px $white,
        725px 1653px $white, 1628px 1144px $white, 1070px 1879px $white,
        362px 603px $white, 605px 714px $white, 749px 1979px $white,
        1569px 1753px $white, 335px 491px $white, 1618px 1237px $white,
        362px 1735px $white, 105px 489px $white, 806px 836px $white,
        1523px 781px $white, 411px 1405px $white, 858px 220px $white,
        273px 89px $white;
    }
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
